$primary-color: #333
$grey: #ccc
$accent-color: #5b96af
$hover-color: lighten($accent-color, 10)
$highlight-color: #EFC94C
$dark-back: #334D5C
$OpenSansPath: '../assets/fonts' !default

@mixin fontdef($OpenSansPath, $FontType:"Regular")
  // src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot')
  src:  url('#{$OpenSansPath}/OpenSans-#{$FontType}.ttf') format('truetype')

@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "Regular")
  font-weight: normal
  font-style: normal

$font-stack: 'Open Sans'

*
  font-size: 13px


@import refills

=block
  vertical-align: middle
  display: inline-block
  float: left

body
  font: 100% $font-stack
  color: $primary-color
  margin: 0
  padding: 0

td
  padding-right: 10px

#content
  width: 400px
  font-size: 7pt
  position: relative

.main_nav a
  color: $accent-color
  text-decoration: none
  padding-right: 20px

.main_nav a:hover
  color: $hover-color

.main_nav
  background: $dark-back
  padding: 10px 20px

.main_nav a.active
  color: $highlight-color

.main_content
  padding: 10px 20px

*
  box-sizing: border-box

#left_panel
  width: 300px
  position: absolute
  left: 0
  bottom: 0
  top: 38px
  padding: 5px
  // border-right: 1px solid #333
  background: #e0e8f0
  overflow: auto

#right_content
  position: absolute
  left: 310px
  right: 0
  bottom: 0
  top: 38px
  padding: 5px
  overflow: auto

.reac-tree
  .tree-sub-nodes
    padding-left: 16px

  .node-toggler
    font-size: 60%
    +block
    padding: 3px
    width: 20px
    height: 16px
    color: $grey

  .tree-node
    cursor: pointer
    overflow: hidden
    border-top: 1px solid #CCC
    padding: 2px

  .node-label
    vertical-align: middle
    +block
    // overflow: hidden

  .selected
    color: red


  .size-label
    display: inline-block
    float: right


// .treeNode:before
//   content: "\25B6"
