$primary-color: #333
$grey: #ccc
$accent-color: #5b96af
$hover-color: lighten($accent-color, 10)
$highlight-color: #EFC94C
$dark-back: #334D5C
$OpenSansPath: '../assets/fonts' !default

@import 'table.sass'
@import 'bourbon/_bourbon.scss'
@import 'components/IconButton.sass'

// @import 'base/base'
@mixin fontdef($OpenSansPath, $FontType:"Regular")
  // src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot')
  src:  url('#{$OpenSansPath}/OpenSans-#{$FontType}.ttf') format('truetype')

@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "Regular")
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "Italic")
  font-weight: 400
  font-style: italic
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "Light")
  font-weight: 300
  font-style: normal
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "LightItalic")
  font-weight: 300
  font-style: italic
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "Semibold")
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "SemiboldItalic")
  font-weight: 600
  font-style: italic
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "Bold")
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'Open Sans'
  @include fontdef($OpenSansPath, "BoldItalic")
  font-weight: 700
  font-style: italic

$font-stack: 'Open Sans'

*
  font-size: 13px

=block
  vertical-align: middle
  display: inline-block
  float: left

body
  font: 100% $font-stack
  color: $primary-color
  margin: 0
  padding: 0

td
  padding-right: 10px
  padding-left: 10px

#content
  width: 400px
  font-size: 7pt
  position: relative

.main_nav a
  color: $accent-color
  text-decoration: none
  padding-right: 20px

.main_nav a:hover
  color: $hover-color

.main_nav
  background: $dark-back
  padding: 10px 20px

.main_nav a.active
  color: $highlight-color

.main_content
  padding: 10px 20px

*
  box-sizing: border-box

#left_panel
  width: 300px
  position: absolute
  left: 0
  bottom: 0
  top: 38px
  padding: 5px
  // border-right: 1px solid #333
  background: #e0e8f0
  overflow: auto

#right_content
  position: absolute
  left: 310px
  right: 0
  bottom: 0
  top: 38px
  padding: 5px
  overflow: auto

.reac-tree
  .tree-sub-nodes
    padding-left: 16px

  .node-toggler
    font-size: 60%
    +block
    padding: 3px
    width: 20px
    height: 16px
    color: $grey

  .tree-node
    cursor: pointer
    overflow: hidden
    border-top: 1px solid #CCC
    padding: 2px

  .node-label
    vertical-align: middle
    +block
    // overflow: hidden

  .selected
    color: red


  .size-label
    display: inline-block
    float: right

$badge-font-size: 0.8em !default
$medium-gray: #999999 !default
$alert-color: #fff6bf !default
$error-color: #DF5A49 !default
$notice-color: #e5edf8 !default
$success-color: #e6efc2 !default

table
  border-collapse: collapse
  border-top: 1px solid #eee
  border-bottom: 1px solid #eee

tr:nth-child(even) td
  // border-bottom: 1px solid #ccc
  background: #eef8ff

h4
  font-size: 14px
  margin: 4px

=badge($color: $medium-gray)
  background-color: $color
  border-radius: $badge-font-size * 5
  color: darken($color, 60%)
  display: inline-block
  font-size: $badge-font-size
  font-weight: 600
  line-height: 1
  padding: 0.4em 0.6em 0.4em 0.7em

.half-badge-left
  +badge(#EFC94C)
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  padding: 0.3em 0.2em 0.3em 0.5em

.half-badge-right
  +badge(#45B29D)
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  padding: 0.3em 0.4em 0.3em 0.3em

.badge
  +badge

.badge-blue
  +badge(#45B29D)
.badge-orange
  +badge(#E27A3F)

// .treeNode:before
//   content: "\25B6"
